// Active Admin CSS Styles
@import active_admin/mixins
@import active_admin/base

// To customize the Active Admin interfaces, add your
// styles here:
@import partials/font
@import markitup_style
@import markitup_sets

#content_block_html_input
  .ckeditor
    margin-right: 4em
  #content_block_html
    margin-left: 20%
  .markItUpContainer
    margin-left: 20%
  .markItUpHeader
    margin-left: 20%
  #cke_content_block_html
    margin-left: 20%
